/* Source and licensing information for the line(s) below can be found at https://social.jynarque.com/core/modules/system/css/components/nowrap.module.css. */
.nowrap{white-space:nowrap}
/* Source and licensing information for the above line(s) can be found at https://social.jynarque.com/core/modules/system/css/components/nowrap.module.css. */